<?xml version="1.0"?>
<configuration xmlns:xdt="http://schemas.microsoft.com/XML-Document-Transform">
  <connectionStrings>
    <add xdt:Transform="SetAttributes"
         xdt:Locator="Match(name)"
         name="CalendarEventContext"
         connectionString="Server=ca77f54e-0423-4129-95a7-a35d018270f5.sqlserver.sequelizer.com;Database=dbca77f54e0423412995a7a35d018270f5;User ID=vkzgpjuaeeldctus;Password=nxDvnMusYUSWLzKuQkFPg5AhyoD2eC2eBcizTkvndLxWL8wSGfA2ogKq6v57hAov;" />
  </connectionStrings>
</configuration>