<?xml version="1.0"?>
<configuration xmlns:xdt="http://schemas.microsoft.com/XML-Document-Transform">
  <connectionStrings>
    <add xdt:Transform="SetAttributes"
         xdt:Locator="Match(name)"
         name="CalendarEventContext"
         connectionString="Server=3bdc91d6-2ed3-424e-ac5b-a35b0051909a.sqlserver.sequelizer.com;Database=db3bdc91d62ed3424eac5ba35b0051909a;User ID=pkjjgnhdjdwzmhhw;Password=anL6JroWD5ZpJDhZqKvUkuis3z7gZA6a4p8RQi8skGYsNcFZ8cNZ5DRMesdjth6c;" />
  </connectionStrings>
</configuration>